meta(content='width=device-width, initial-scale=1.0', name='viewport')
meta(content='A web-based QuakeWorld server browser', name='description')
meta(content='Patric Nordmark', name='author')

link(rel='stylesheet', href='stylesheets/style.css')