div(class='navbar navbar-fixed-top')
  div(class='navbar-inner')
    div(class='container')
      a(class='brand', href='/')= title
      ul(class='nav clearfix')
        li
          a(href='/servers') All
        li
          a(href='/favourites') Favourites         