extends layout

block content
  article(id='server-item-template', class='server-item span3 hide')
    div(class='server-item-inner')
      h2 {{ hostname }}
      div.levelshot-holder
        {{ levelshot }}

  div#server-list