extends layout

block content
  article(id='server-item-template', class='server-item span3 hide')
    div(class='server-item-inner')
      h2 {{ hostname }}
      div(class='img-block img-block-client-status-{{ clients_status }}')
        span(class='clients') {{ clients }} / {{ maxclients }}
        {{ levelshot }}

  div(id='server-list')