extends layout

block content
  article(id='server-item-template', class='server-item span3 hide')
    div(class='server-item-inner well well-small')
      h2 {{ hostname }}
      div(class='img-block img-block-client-status-{{ clients_status }}')
        div(class='img-block-buttons', style='display: none')
          a(href='qw://{{ id }}')
            button(id='btn-join', class='btn btn-large btn-success') Play now!
          a(href='{{ qtv }}')
            button(id='btn-watch', class='btn btn-large') Watch QTV
        span(class='clients') {{ clients }} / {{ maxclients }}
        {{ levelshot }}

  div(id='server-list')